.logo{
    width: 80px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.card-header{
    margin: 8rem auto 2rem ;
}

.form-control{
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	outline: none;
}
.form-contro input:focus {
	border-color: #62ABF8;
}

.btn {
    width: 100%;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    background: #62ABF8;
    color: #fff;
    border: solid 2px #62ABF8;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn:hover {
    background: #fff;
    color: #62ABF8;
  }